:root {
  --logo-color: #6070ff;
  --navbar-list-color: #344563;
  --navbar-list-hover-bg-color:#6070ff;
  --navbar-list-active-bg-color:#2230d2;
}

.navbar-brand {
  color: var(--logo-color) !important;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.nav-link {
  color: var(--navbar-list-color)!important;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.nav-link:hover {
    background-color:var(--navbar-list-hover-bg-color) !important;
    color:#fff !important;
    cursor: pointer;
    border-radius: 0.56rem;
    transition: all 0.2s ease-in-out 0.3s;
}

.nav-link:active {
    background-color:var(--navbar-list-active-bg-color) !important;
    color:#fff !important;
    cursor: pointer;
    border-radius: 0.56rem;
    transition: all 0.2s ease-in-out 0.3s;
}

.header-section {
  background-image: url("./images/Header_bg.svg");
  background-size: 95% auto;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position-x: center;
}

h1 {
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 60px;
color: #091E42;
}

.header-data p:nth-child(1n) {
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
  color: #344563;
}

.social-class p {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
  color: #7F8CFF;
}

.fab {
  color: #505F79;
}


